PORT=8090
AUTH_SECRET=
ADMIN_NAME=
ADMIN_EMAIL=
ADMIN_PASSWORD=
MONGODB_USER=
MONGODB_PASSWORD=
MONGODB_HOST=
MONGODB_DB=study-tracker
R2_ACCOUNT_ID=
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
R2_BUCKET_NAME=
R2_PUBLIC_BASE_URL=
